{% extends "apis_entities/detail_views/detail_generic.html" %}
{% load bibsonomy_templatetags %}
{% block info-table %}
{{ block.super }}
<table class="table table-hover table-bordered">
  {% if object.alternative_label %}
  <tr>
    <th>Alternative Labels</th>
    <td>{{ object.alternative_label }}</td>
  </tr>
  {% endif %}
  <tr>
    <th>References</th>
    <td>{% link_to_reference_on obj=object modal=True %}</td>
  </tr>
  <tr>
    <th>URIs</th>
    <td>{{ object.uri_set.all | join:", " | urlize}}</td>
  </tr>
</table>
{% endblock info-table %}

{% block info-metadata %}
<table class="table table-hover table-bordered" style="table-layout:fixed;">
  <tr>
    <th>Collections</th>
    <td>{{ object.collection.all | join:", " }}</td>
  </tr>
  {% if user.is_authenticated %}
  <tr>
    <th>Notes</th>
    <td>{{ object.notes }}</td>
  </tr>
  <tr>
    <th>References</th>
    <td>{{ object.references }}</td>
  </tr>
  {% endif %}
</table>
{% endblock %}
